{% extends 'base.html' %}

{% block title %}
contact
{% endblock title %}

{% block contactactive %}
active
{% endblock contactactive %}

{% block body %}
<!-- <div class="container col-sm-5 my-2">
    <h3>Login</h3>
</div> -->
<div class="container col-sm-5 my-2">
    <h3 class="font-weight-bolder" style="color:black;">Contact</h3>
    <!-- <h2 class="font-weight-bolder" style="color:black;">MoviesHub</h2> -->
</div>
<div class="container col-sm-5 my-2">
    <h5 class="font-weight-bolder" style="color:red;">Got a question? </h5>
</div>
    <div class="container col-sm-5 border border-primary p-3">
        <form method="post">{% csrf_token %}
            <div class="form-group col-sm-10">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group col-sm-10">
                <label for="pass">Email</label>
                <input type="text" class="form-control" id="email" name="pass" required>
            </div>
            <div class="form-group col-sm-10">
                <label for="phone">Phone Number</label>
                <input type="number" class="form-control" id="Phone" name="phone" required>
            </div>
            <div class="form-group col-sm-10" aria-describedby="basic-addon3">
                <label for="message">Message</label>
                <textarea class="form-control" rows="3" placeholder="" name="message" required></textarea>
                <!-- <input type="text" class="form-control" id="message" name="message" required> -->
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- <div class="container col-sm-5 my-3 border border-primary p-3">
        <form method='post'>{% csrf_token %}
            <div class="form-group col-sm-10">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
    {% endblock body %}