<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>{% block title %}
    {% endblock title %}</title>
</head>

<body>
  <style>
    footer {
      background: #2a2e32;
    }

    .text-small {
      font-size: 0.9rem;
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }

    a:hover, a:focus {
      text-decoration: none;
    }


    footer {
      margin-top:50px;
      background: #212529;
    }
  </style>
  <!--navbar starts-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><h3><i>Movie Hub</i></h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %}
        {% endblock homeactive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %}
        {% endblock aboutactive %}">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block contactactive %}
          {% endblock contactactive %}" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0"  action="{% url 'search' %}" method='get'>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'>
        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
      </form>
      {% if  not user.is_authenticated %}
      <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button"><a href="{% url 'signup' %}"
          style="text-decoration:none; color:green;">Sign Up</a></button>
      <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button"><a href="{% url 'login' %}"
          style="text-decoration:none; color:green;">Login</a></button>
      {% else %}
      <h4 style="color: antiquewhite;">Hello,{{user.username}}</h4>
      <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="button"><a href="{% url 'logout' %}"
          style="text-decoration:none; color:green;">Logout</a></button>
      {% endif %}
    </div>
  </nav>
  <!--navbar ends-->

  <!--message starts-->
  {% for message in messages  %}
  <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <!--message ends-->
<br><br>
  {% block body %}

  {% endblock body %}

  <footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
              <a class="navbar-brand" style="color:white;"href="/"><h3><i>Movie Hub</i></h3></a>
                <p class="small text-muted">One stop destination for all "Great Movies".</p>
            </div>
            <div class="col-lg-5 col-md-3"></div>
            <div class="col-lg-3 col-md-3" style="align-items: right;">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <!-- <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Get started</a></li>
                    <li><a href="#">FAQ</a></li> -->
                    <li>
                      <a href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                      <a class="" href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                      <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>